<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-content}" lang="en">
<!--/*@thymesVar id="deletedProject" type="java.lang.String"*/-->
<!--/*@thymesVar id="updatedProject" type="java.lang.String"*/-->
<!--/*@thymesVar id="createdProject" type="java.lang.String"*/-->
<!--/*@thymesVar id="completedProject" type="java.lang.String"*/-->
<head>
    <title>All Projects</title>
</head>
<body class="bg-gray-50 dark:bg-gray-800">
<div layout:fragment="page-content">
    <div class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5 dark:bg-gray-800 dark:border-gray-700">
        <div class="w-full mb-1">
            <!-- Breadcrumb -->
            <div data-th-replace="~{fragments/components/breadcrumb :: breadcrumb(parentPageTitle = ${'Projects'}, parentPageLink = '#', lastItemName = ${'List'}, contentTitle = ${'All Projects'})}" class="mb-4 col-span-full xl:mb-2"></div>
            <!-- Table Header Actions -->
            <div data-th-replace="~{fragments/components/table-header-actions :: table-header-actions(actionButtonLink = @{/project/create}, actionButtonText = ${'Create Project'})}" class="sm:flex"></div>
        </div>
    </div>
    <div class="flex flex-col">
        <div class="overflow-x-auto">
            <div class="inline-block min-w-full align-middle">
                <div class="overflow-hidden shadow">
                    <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600">
                        <thead class="bg-gray-100 dark:bg-gray-700">
                        <tr>
                            <th scope="col" class="p-4">
                                <div class="flex items-center">
                                    <input id="checkbox-all" aria-describedby="checkbox-1" type="checkbox" class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="checkbox-all" class="sr-only">checkbox</label>
                                </div>
                            </th>
                            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"> Project Code </th>
                            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"> Project Name </th>
                            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"> Start & End Dates </th>
                            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"> Manager </th>
                            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"> Status </th>
                            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"> Actions </th>
                        </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                        <tr data-th-each="project, itemStat: ${projects}" data-th-object="${project}" class="hover:bg-gray-100 dark:hover:bg-gray-700">
                            <td class="w-4 p-4">
                                <div class="flex items-center">
                                    <input id="checkbox-1" aria-describedby="checkbox-1" type="checkbox" class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="checkbox-1" class="sr-only">checkbox</label>
                                </div>
                            </td>
                            <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white" data-th-text="*{projectCode}"> PR101</td>
                            <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white" data-th-text="*{projectName}"> Spring MVC</td>
                            <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white" data-th-text="|${#temporals.format(project.projectStartDate, 'dd/MM/YYYY')} - ${#temporals.format(project.projectEndDate, 'dd/MM/YYYY')}|"> 01/01/2023-02/03/2023</td>
                            <td class="p-4 text-base font-normal text-gray-900 whitespace-nowrap dark:text-white" data-th-text="|*{projectManager.firstName} *{projectManager.lastName}|"></td>
                            <td class="p-4 text-base font-normal text-gray-900 whitespace-nowrap dark:text-white">
                                <div class="flex items-center">
                                    <div class="h-2.5 w-2.5 rounded-full mr-2" data-th-classappend="*{projectStatus.equals(projectStatus.OPEN)} ? ${'bg-yellow-500'}  : (*{projectStatus.equals(projectStatus.IN_PROGRESS)} ? ${'bg-orange-500'} : ${'bg-purple-500'})"></div>
                                    [[${project.projectStatus}]]
                                </div>
                            </td>
                            <td class="p-4 space-x-2 whitespace-nowrap">
                                <a title="Edit" data-th-href="@{/project/{projectCode}/edit(projectCode = *{projectCode})}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                                    <svg data-th-replace="~{icon-edit}"></svg>
                                </a>
                                <button title="Complete" data-th-if="*{not projectStatus.equals(projectStatus.COMPLETED)}" type="button" data-th-data-post-endpoint="@{/project/{projectCode}/complete(projectCode = *{projectCode})}" data-th-data-process="${project.projectCode}" data-th-data-modal-type="'complete'" data-modal-toggle="modal-action" class="btnModal inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-purple-600 rounded-lg hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 dark:focus:ring-purple-900">
                                    <svg data-th-replace="~{icon-document-check}"></svg>
                                </button>
                                <button title="Completed" disabled data-th-if="*{projectStatus.equals(projectStatus.COMPLETED)}" type="button" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-600 rounded-lg hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-900">
                                    <svg data-th-replace="~{icon-document-check}"></svg>
                                </button>
                                <button title="Delete" type="button" data-th-data-post-endpoint="@{/project/{projectCode}/delete(projectCode = *{projectCode})}" data-th-data-process="${project.projectCode}" data-th-data-modal-type="'delete'" data-modal-toggle="modal-action" class="btnModal inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:focus:ring-red-900">
                                    <svg data-th-replace="~{icon-delete}"></svg>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky bottom-0 right-0 items-center w-full p-4 bg-white border-t border-gray-200 sm:flex sm:justify-between dark:bg-gray-800 dark:border-gray-700">
        <div class="flex items-center mb-4 sm:mb-0">
            <a href="#" class="inline-flex justify-center p-1 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                </svg>
            </a>
            <a href="#" class="inline-flex justify-center p-1 mr-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                </svg>
            </a>
            <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Showing <span class="font-semibold text-gray-900 dark:text-white">1-20</span> of <span class="font-semibold text-gray-900 dark:text-white">2290</span>
                    </span>
        </div>
        <div class="flex items-center space-x-3">
            <a href="#" class="inline-flex items-center justify-center flex-1 px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                <svg class="w-5 h-5 mr-1 -ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                </svg> Previous </a>
            <a href="#" class="inline-flex items-center justify-center flex-1 px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                Next
                <svg class="w-5 h-5 ml-1 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                </svg>
            </a>
        </div>
    </div>

    <!--/*-->Modal Action<!--*/-->
    <div data-th-replace="~{fragments/components/popup-modal :: modal}"></div>

    <!--/*-->Toast Notifications<!--*/-->
    <div data-th-replace="~{fragments/components/toast-notification :: danger(object = ${deletedProject}, message = |${deletedProject} has been deleted| )}">Project has been deleted</div>
    <div data-th-replace="~{fragments/components/toast-notification :: warning(object = ${updatedProject}, message = |${updatedProject} has been updated| )}">Project has been updated</div>
    <div data-th-replace="~{fragments/components/toast-notification :: success(object = ${createdProject}, message = |${createdProject} has been created| )}">Project has been created</div>
    <div data-th-replace="~{fragments/components/toast-notification :: success(object = ${completedProject}, message = |${completedProject} has been completed| )}">Project has been completed</div>

</div>
</body>
<th:block layout:fragment="page-scripts">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const btnModals = document.querySelectorAll(".btnModal");
            btnModals.forEach(function (btnModal) {
                btnModal.addEventListener("click", function (e) {
                    e.preventDefault();
                    const link = this;

                    const process = link.getAttribute("data-process");
                    const type = link.getAttribute("data-modal-type");
                    const url = link.getAttribute("data-post-endpoint");


                    const yesBtn = document.getElementById("modal-form");
                    yesBtn.setAttribute("action", url);

                    const confirmText = document.getElementById("confirmText");
                    confirmText.innerHTML = "Do you want to " + type + " <strong>" + process + "</strong>?";

                });
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            const toastElements = document.querySelectorAll(".toast"); // Assuming each toast notification has a class 'toast'

            toastElements.forEach(function (toastElement) {
                setTimeout(function () {
                    toastElement.classList.add("hidden");
                }, 5000);
            });
        });

    </script>
</th:block>
</html>