<div data-th-fragment="success(object, message)">
    <div id="toast-success" data-th-if="${object}" class="toast flex fixed bottom-5 right-5 items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-gray-50 rounded-lg shadow-lg dark:text-gray-400 dark:bg-gray-900" role="alert">
        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-purple-500 bg-purple-100 rounded-lg dark:bg-purple-800 dark:text-purple-200">
            <svg data-th-replace="~{icon-success}"></svg>
            <span class="sr-only">Success icon</span>
        </div>
        <div class="ml-3 text-sm font-normal" data-th-text="${message}">User has been created.</div>
        <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-success" aria-label="Close">
            <span class="sr-only">Close</span>
            <svg data-th-replace="~{icon-close}"></svg>
        </button>
    </div>
</div>

<div data-th-fragment="warning(object, message)">
    <div id="toast-warning" data-th-if="${object}" class="toast flex fixed bottom-5 right-5 items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-gray-50 rounded-lg shadow-lg dark:text-gray-400 dark:bg-gray-900" role="alert">
        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-orange-500 bg-orange-100 rounded-lg dark:bg-orange-700 dark:text-orange-200">
            <svg data-th-replace="~{icon-warning}"></svg>
            <span class="sr-only">Warning icon</span>
        </div>
        <div class="ml-3 text-sm font-normal" data-th-text="${message}">User has been updated.</div>
        <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-warning" aria-label="Close">
            <span class="sr-only">Close</span>
            <svg data-th-replace="~{icon-close}"></svg>
        </button>
    </div>
</div>

<div data-th-fragment="danger(object, message)">
    <div id="toast-danger" data-th-if="${object}" class="toast flex fixed bottom-5 right-5 items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-gray-50 rounded-lg shadow-lg dark:text-gray-400 dark:bg-gray-900" role="alert">
        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200">
            <svg data-th-replace="~{icon-danger}"></svg>
            <span class="sr-only">Danger icon</span>
        </div>
        <div class="ml-3 text-sm font-normal" data-th-text="${message}">User has been deleted.</div>
        <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-danger" aria-label="Close">
            <span class="sr-only">Close</span>
            <svg data-th-replace="~{icon-close}"></svg>
        </button>
    </div>
</div>