<!DOCTYPE html>

<html lang="en">

<head data-th-replace="~{fragments/head :: head(~{::title})}">
    <title>Create Task - TicketMastery</title>
</head>

<body>

<div class="dashboard-main-wrapper">

    <div data-th-replace="~{fragments/header :: header}"></div>

    <div data-th-replace="~{fragments/left-sidebar :: left-sidebar(taskCreate)}"></div>

    <div class="dashboard-wrapper">

        <div class="dashboard-ecommerce">

            <div class="container-fluid dashboard-content">

                <div class="ecommerce-widget">

                    <div class="row">

                        <div class="col-lg-6 col-md-12">

                            <section class="panel panel-transparent">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Task Create</h2>
                                </header>

                                <div class="panel-body">

                                    <div class="alert alert-success" role="alert" data-th-if="${createdTask}">
                                        Task [[${createdTask}]] has been created.
                                    </div>

                                    <div class="alert alert-danger" role="alert" data-th-if="${deletedTask}">
                                        Task [[${deletedTask}]] has been deleted.
                                    </div>

                                    <div class="alert alert-warning" role="alert" data-th-if="${updatedTask}">
                                        Task [[${updatedTask}]] has been updated.
                                    </div>

                                    <div class="alert alert-danger" role="alert" data-th-if="${updateError}">
                                        [[${updateError}]]
                                    </div>

                                    <!-- ------------------------FORM START----------------------------- -->
                                    <form data-th-action="@{/task/create}" method="post" data-th-object="${task}">
                                        <input type="hidden" data-th-field="*{assignedDate}"/>
                                        <input type="hidden" data-th-field="*{status}"/>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="project">Project</label>
                                                    <select id="project" name="project" class="custom-select" data-th-field="*{project}">
                                                        <option value="" data-th-text="Select"></option>
                                                        <option data-th-each="project : ${projects}"
                                                                data-th-value="${(project.projectCode)}"
                                                                data-th-text="${project.projectName}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="assignedEmployee">Assigned Employee</label>
                                                    <select id="assignedEmployee" name="assignedEmployee" class="custom-select" data-th-field="*{assignedEmployee}">
                                                        <option value="" data-th-text="Select"></option>
                                                        <option data-th-each="employee : ${employees}"
                                                                data-th-value="${(employee.userName)}"
                                                                data-th-text="|${employee.firstName} ${employee.lastName}|"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="taskSubject" class="col-form-label">Task Subject</label>
                                                    <input id="taskSubject" type="text" class="form-control" data-th-field="*{taskSubject}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="taskDetail">Task Detail</label>
                                                    <textarea id="taskDetail" class="form-control" data-th-field="*{taskDetail}"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="float-right">
                                                    <button class="btn btn-success rounded-0" type="submit">Save</button>
                                                </div>
                                            </div>
                                        </div>


                                    </form>
                                    <!-- ------------------------FORM END----------------------------- -->

                                </div>

                            </section>

                        </div>

                    </div>

                </div>


                <!-- ------------------------TABLE START----------------------------- -->

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Task List</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">Project</th>
                                                <th scope="col">Task Subject</th>
                                                <th scope="col">Assigned Employee</th>
                                                <th scope="col">Assigned Date</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-th-each="task: ${tasks}" data-th-object="${task}">
                                                <td data-th-text="*{project.projectName}"></td>
                                                <td data-th-text="*{taskSubject}"></td>
                                                <td data-th-text="|*{assignedEmployee.firstName} *{assignedEmployee.lastName}|"></td>
                                                <td data-th-text="${#temporals.format(task.assignedDate, 'dd/MM/YYYY')}"></td>
                                                <td data-th-text="*{status}"></td>
                                                <td class="actions">
                                                    <a data-th-href="@{/task/{taskID}/edit(taskID = *{id})}" class="btn btn-warning rounded-0">Update</a>
                                                    <button type="button" data-th-data-url="@{/task/{taskID}/delete(taskID = *{id})}"
                                                            class="delete-row btnModal btn btn-danger rounded-0" data-th-data-process="${task.id}" data-th-data-type="'delete'">
                                                        Delete
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="modal fade text-center" id="confirmModal">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>

                                                    <div class="modal-body">
                                                        <span id="confirmText"></span>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">No
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

                <!-- ------------------------TABLE END----------------------------- -->

            </div>

        </div>

    </div>

    <div data-th-replace="~{fragments/footer :: footer}"></div>

</div>

<div data-th-replace="~{fragments/javascript :: js}"></div>

</body>

</html>