<!DOCTYPE html>

<html lang="en">

<head data-th-replace="~{fragments/head :: head(~{::title})}">
    <title>Create User - TicketMastery</title>
</head>

<body>

<div class="dashboard-main-wrapper">

    <div data-th-replace="~{fragments/header :: header}"></div>

    <div data-th-replace="~{fragments/left-sidebar :: left-sidebar(userCreate)}"></div>

    <div class="dashboard-wrapper">

        <div class="dashboard-ecommerce">

            <div class="container-fluid dashboard-content">

                <div class="ecommerce-widget">

                    <div class="row">

                        <div class="col-lg-6 col-md-12">

                            <section class="panel panel-transparent">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Create User</h2>
                                </header>

                                <div class="panel-body">

                                    <!-- ------------------------FORM START----------------------------- -->
                                    <form data-th-action="@{create}" method="post" class="needs-validation" data-th-object="${user}" novalidate>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="firstName" class="col-form-label">First Name</label>
                                                    <input type="text" class="form-control"
                                                           data-th-errorclass="${'is-invalid'}"
                                                           id="firstName"
                                                           data-th-field="*{firstName}" data-th-value="*{firstName}">
                                                    <div class="invalid-feedback d-flex flex-column"
                                                         data-th-if="${#fields.hasErrors('firstName')}">
                                                             <span data-th-each="error : ${#fields.errors('firstName')}" data-th-text="${error}"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="lastName" class="col-form-label">Last Name</label>
                                                    <input type="text" class="form-control"
                                                           data-th-errorclass="${'is-invalid'}"
                                                           id="lastName"
                                                           data-th-field="*{lastName}" data-th-value="*{lastName}">
                                                    <div class="invalid-feedback d-flex flex-column"
                                                         data-th-if="${#fields.hasErrors('lastName')}">
                                                        <span data-th-each="error : ${#fields.errors('lastName')}" data-th-text="${error}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="userName" class="col-form-label">Email
                                                        Address</label>
                                                    <input type="email" class="form-control"
                                                           data-th-errorclass="${'is-invalid'}"
                                                           id="userName"
                                                           data-th-field="*{userName}" data-th-value="*{userName}">
                                                    <div class="invalid-feedback d-flex flex-column"
                                                         data-th-if="${#fields.hasErrors('userName')}">
                                                        <span data-th-each="error : ${#fields.errors('userName')}" data-th-text="${error}"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="phoneNumber" class="col-form-label">Phone Number</label>
                                                    <input type="text" class="form-control"
                                                           data-th-errorclass="${'is-invalid'}"
                                                           id="phoneNumber"
                                                           data-th-field="*{phoneNumber}" data-th-value="*{phoneNumber}">
                                                    <div class="invalid-feedback d-flex flex-column"
                                                         data-th-if="${#fields.hasErrors('phoneNumber')}">
                                                        <span data-th-each="error : ${#fields.errors('phoneNumber')}" data-th-text="${error}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="password" class="col-form-label">Password</label>
                                                    <input id="password" class="form-control" type="password">
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="repassword" class="col-form-label">Confirm Password</label>
                                                    <input id="repassword" type="password" class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label class="col-form-label d-flex flex-row">Gender</label>
                                                    <label class="custom-control custom-radio custom-control-inline" data-th-each="gender : ${genders}">
                                                        <input type="radio" name="radio-inline" data-th-field="${user.gender}" data-th-value="${gender.name()}"  class="custom-control-input">
                                                        <span class="custom-control-label" data-th-text="${gender}"></span>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="role" class="col-form-label d-flex flex-row">Choose a Role</label>
                                                    <select id="role" name="role" class="custom-select" data-th-field="${user.roleDTO}">
                                                        <option value="" data-th-text="Select"></option>
                                                        <option data-th-each="role : ${roles}"
                                                                data-th-value="${(role.id)}"
                                                                data-th-text="${role.description}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-12">
                                                <div class="float-right">
                                                    <button type="submit" class="btn btn-success">Save</button>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                    <!-- ------------------------FORM END----------------------------- -->

                                </div>

                            </section>

                        </div>

                    </div>

                </div>


                <!-- ------------------------TABLE START----------------------------- -->

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">User List</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Email(username)</th>
                                                <th scope="col">Gender</th>
                                                <th scope="col">Phone</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                            </thead>

                                            <tbody>

                                            <tr data-th-each="user: ${users}" data-th-object="${user}">
                                                <td data-th-text="*{firstName}"></td>
                                                <td data-th-text="*{userName}"></td>
                                                <td data-th-text="*{gender}"></td>
                                                <td data-th-text="*{phoneNumber}"></td>
                                                <td data-th-text="*{roleDTO.description}"></td>
                                                <td class="actions">
                                                    <a href="#">
                                                        <button type="button" class="btn btn-warning btn-sm">Update
                                                        </button>
                                                    </a>
                                                    <a href="#" class="delete-row">
                                                        <button type="button" class="btn btn-secondary btn-sm">Delete
                                                        </button>
                                                    </a>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

                <!-- ------------------------TABLE END----------------------------- -->

            </div>

        </div>

    </div>

    <div data-th-replace="~{fragments/footer :: footer}"></div>

</div>

<div data-th-replace="~{/fragments/javascript :: js}"></div>

</body>

</html>