<!DOCTYPE html>

<html lang="en">

<head data-th-replace="~{fragments/head :: head(~{::title})}">
    <title>Welcome - TicketMastery</title>
</head>

<body>

<div class="dashboard-main-wrapper">

    <div data-th-replace="~{fragments/header :: header}"></div>

    <div data-th-replace="~{fragments/left-sidebar :: left-sidebar}"></div>

    <div class="dashboard-wrapper">

        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">
                <div class="ecommerce-widget">

                    <h2>Welcome To Ticketing Project!</h2>
                </div>
            </div>
        </div>

    </div>

    <div data-th-replace="~{fragments/footer :: footer}"></div>

</div>

<div data-th-replace="~{fragments/javascript :: js}"></div>

</body>

</html>